extends layout.pug

block content
  div(class="container")
    div(class="row")
      div(class="col-lg-8")
        h1 Welcome, employee.
        p The world is full of problems. We deliver solutions by building 
          | widgets. Not all widgets are created equal; some widgets are better
          | than others. It is therefore our mission to produce 
          i the best widgets.
          | You play an essential role in our widget making process. As a 
          b widget developer recruiter (WDR) 
          | you are charged with finding talented people, the backbone of any
          | company, such as our own.

        h2 A message from the CEO
        p Our company was founded on a beautiful 2019 spring day. I like 
          | beautiful spring days. Let's have more of those.
        img(src="https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80")
        figcaption
          a(href="https://unsplash.com/photos/SLIFI67jv5k") Photo 
          | by Ant Rozetsky
      div(class="col-lg-4")
        p (Here I can put some graphics)
