extends layout.pug

block content
  div(class="container")
    div(class="row")
      div(class="col-md-12")
        p Page for editing employees.
        p Add in nice looking interface for changing relevant values.
        button(class="btn btn-dark" id="cancelButton") Cancel

block body_scripts
  script(src="/assets/scripts/edit-employee.js")
