extends layout.pug

block content
  div(class="jumbotron")
    h1(class="display-4") Welcome, employee.
    p(class="lead") This is a clean-looking internal company site. 
    hr
    p Right now, it is running on 
      code localhost 
      | but you could actually upload it to the internet. Make sure all the
      | security stuff is in order before doing that though, bucko.
    a(class="btn btn-primary btn-lg", href="/about", role="button", id="learn-more-button") Learn more
  div(class="container")
    div(class="row")
      div(class="col-md-6")
        h2 Human Resources Things
        p You have the power to...
        ul
          li view roster of our 
            a(href="./employees") awesome employees. 
          li add a 
            a(href="./employee/new") new employee
          li order pizza
      div(class="col-md-6")
        h2 Other Things
        p Here I can fetch some (company) news stories, RSS style.
        p I can also add more statements about our company, some pictures, etc.
block body_scripts
  script(src="/assets/scripts/index.js")
