extends layout.pug

block content
  div(class="container")
    div(class="row")
      div(class="col-md-12")
        h1 New Employee Form
        p Here, a form will be found.

        form

          div(class="form-group")
            label(for="inputName") Employee name
            input(type="text", class="form-control", id="inputName", placeholder="e.g. Abraham Lincoln")

          div(class="form-group")
            label(for="inputPosition") Position name
            input(type="text", class="form-control", id="inputPosition", placeholder="e.g. Underwater Basket Weaver")

          div(class="form-group")
            label(for="inputDateStarted") Date started
            input(type="text", class="form-control", id="inputDateStarted", placeholder="MM/DD/YYYY")

          div(class="form-group")
            label(for="inputMonthsWorked") Months worked
            input(type="text", class="form-control", id="inputMonthsWorked", placeholder="e.g. 5")

          br
          button(type="submit", class="btn btn-primary" id="form-submit") Submit

block body_scripts
  script(src="/assets/scripts/new-employee.js")
