.jumbotron {
  background-image: url("/images/Sanford_Robinson_Gifford_-_Indian_Summer_in_the_White_Mountains_-_Google_Art_Project.jpg");
  background-position: center;
  background-size: cover;
}
.statusHeader {
  padding: 5px;
  margin-bottom: 15px;
  color: #333;
  background-image: linear-gradient(to bottom, #e9ecef, white);
  height: 35px;
}

.statusHeader a {
  font-weight: lighter;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}

#login-status {
  font-weight: bold;
  float: right;
  padding-right: 12px; /* needs some wiggle room */
  color: green;
}

#footer {
  color: grey;
}

#footer ul {
  list-style-type: circle;
}

.snark {
  color: orange;
}
