.jumbotron {
  background-image: url("/images/Sanford_Robinson_Gifford_-_Indian_Summer_in_the_White_Mountains_-_Google_Art_Project.jpg");
  background-position: center;
  background-size: cover;
}
.jumbotron h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  color: black;
}
.jumbotron p {
  color: white;
  font-weight: bold;
}
.jumbotron code {
  color: #333;
}

img {
  max-width: 100% /* Keep images contained in blocks */
}
figcaption {
  color: grey;
  padding: 10px;
}

.statusHeader {
  padding: 5px;
  margin-bottom: 15px;
  color: #333;
  background-image: linear-gradient(to bottom, #e9ecef, white);
  height: 35px;
}

.statusHeader a {
  font-weight: lighter;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}

#login-status {
  font-weight: bold;
  float: right;
  padding-right: 12px; /* needs some wiggle room */
  color: green;
}

#footer {
  width: 100%;
  background-image: linear-gradient(to top, #e5bd9c, white);
  color: black;
}

#footer h1, h2, h3, h4, h5 {
  font-weight: bold;
}

#footer ul {
  padding: 0px;
  list-style-type: none;
}
